

#board {
  position: sticky;
  top: 0;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#pond,
#background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}


#pond {
  z-index: 20;
}

.lilypad,
.frog {
  position: relative;
  width: 20%;
  height: 20%;
  overflow: hidden;
}

.frog:nth-child(1) {
  view-transition-name: --frog1;
}

.frog:nth-child(2) {
  view-transition-name: --frog2;
}

.frog:nth-child(3) {
  view-transition-name: --frog3;
}

.frog:nth-child(4) {
  view-transition-name: --frog4;
}

.frog:nth-child(5) {
  view-transition-name: --frog5;
}

.frog:nth-child(6) {
  view-transition-name: --frog6;
}

.frog:nth-child(7) {
  view-transition-name: --frog7;
}

.frog:nth-child(8) {
  view-transition-name: --frog8;
}

.frog:nth-child(9) {
  view-transition-name: --frog9;
}

.frog:nth-child(10) {
  view-transition-name: --frog10;
}

.frog:nth-child(11) {
  view-transition-name: --frog11;
}

.frog:nth-child(12) {
  view-transition-name: --frog12;
}

.frog:nth-child(13) {
  view-transition-name: --frog13;
}

.frog:nth-child(14) {
  view-transition-name: --frog14;
}

.frog:nth-child(15) {
  view-transition-name: --frog15;
}

::view-transition-old(--frog1),
::view-transition-new(--frog1),
::view-transition-old(--frog2),
::view-transition-new(--frog2),
::view-transition-old(--frog3),
::view-transition-new(--frog3),
::view-transition-old(--frog4),
::view-transition-new(--frog4),
::view-transition-old(--frog5),
::view-transition-new(--frog5),
::view-transition-old(--frog6),
::view-transition-new(--frog6),
::view-transition-old(--frog7),
::view-transition-new(--frog7),
::view-transition-old(--frog8),
::view-transition-new(--frog8),
::view-transition-old(--frog9),
::view-transition-new(--frog9),
::view-transition-old(--frog10),
::view-transition-new(--frog10),
::view-transition-old(--frog11),
::view-transition-new(--frog11),
::view-transition-old(--frog12),
::view-transition-new(--frog12),
::view-transition-old(--frog13),
::view-transition-new(--frog13),
::view-transition-old(--frog14),
::view-transition-new(--frog14),
::view-transition-old(--frog15),
::view-transition-new(--frog15) {
  height: 100%;
}

.frog.bounceOutUp {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -ms-animation-delay: .6s;
  animation-delay: .6s;
}

.frog .bg.bounce {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
}

.frog.yellow .bg.bounce {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -ms-animation-delay: .3s;
  animation-delay: .3s;
}

.frog.red .bg.bounce {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -ms-animation-delay: .6s;
  animation-delay: .6s;
}

.lilypad .bg,
.frog .bg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.frog .bg {
  background-size: 90% 90%;
}

.lilypad.green .bg {
  background-image: url("../images/planet-hijau.svg");
}

.lilypad.red .bg {
  background-image: url("../images/planet-merah.svg");
}

.lilypad.yellow .bg {
  background-image: url("../images/planet-kuning.svg");
}

.frog.green .bg {
  background-image: url("../images/alien-hijau.svg");
}

.frog.red .bg {
  background-image: url("../images/alien-merah.svg");
}

.frog.yellow .bg {
  background-image: url("../images/alien-kuning.svg");
}

.wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  body {
    flex-direction: column-reverse;
    align-items: center;
    min-width: 100vw;
  }

  body,
  #sidebar {
    font-size: 13px;
  }

  #sidebar {
    width: 100%;
  }

  #background {
    border-radius: 0 0 10px 10px;
  }

  .header {
    justify-content: center;
  }

  .title {
    font-size: 26px;
  }

  #labelFooter {
    display: none;
  }
}
#code {
  display: block;
  width: calc(100% - 16px);
  height: 24px;
  margin-left: 1px;
  padding-left: 30px;
  border: none;
  font-family: 'monospace', monospace;
  color: var(--blue);
  font-size: 14,4px;
  outline: none;
  resize: none;
  overflow: auto;
  background: transparent; /* bikin background transparan */
}


